* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  background-color: antiquewhite;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  font-size: 72px;
  margin: auto;
}
.label {
  margin: auto;
}